

.section-carousel-container{
    width: 100%;
    padding: 0 10px;
    background-color: whitesmoke;
    box-sizing: border-box;
    position:relative;
}

.carousel-container{
    min-width:300px;
    max-width: 700px;
    height:300px;
    margin:20px 0px;
   padding:0;
   display: flex;
   box-sizing: border-box;
   overflow: hidden;
   overflow-x: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
    background-color: crimson;

}

.carousel-container::-webkit-scrollbar {
    display: none;
  }